*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/bg-unhas.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
}

.header {
    display: flex;
    border-bottom: 1px solid #562551;
    background-color: #BB92B7;
    background-position: 100%;
    align-items: center;
    align-content: center;
}

.header__logo {
    font-family: 'Hurricane';
    font-size: 50px;
    color: #562551;
    margin: 0 25px;
}

h1 {
    margin: 0;
}

.header__linha {
    font-size: 50px;
    margin-left: 25px;
    color: #562551;
}

.header__saudacao {
    flex-grow: 2;
    font-size: 20px;
    color: #562551;
    margin: 0 25px;
}

.header__novoAgendamento {
    flex-grow: 3;
    font-size: 20px;
    color: #562551;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 0 0 25px;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "»";
}

.titulo__historico,
h1 {
    color: #562551;
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 25px 25px;
}

.card {
    display: flex;
    margin: 0 0 25px 25px;
    width: 40%;
    border: 1px solid #562551;
    flex-wrap: wrap;
    justify-content: center;
}

.card__data {
    font-family: 'Jacques Francois';
    color: #562551;
    font-size: 18px;
    margin: 10px 0 0 25px;
}

img {
    float: left;
    max-width: 100%;
    max-height: 100%;    
}

.card__foto {
    height: 150px;
    width: 150px;
    border: 1px solid #562551;
    border-radius: 5px;
}

.card__body {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 25px;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 25px 0 25px;
    justify-content: center;
}

.card__botaoAgendarNovamente{
    display: block;
    margin: auto;
    align-content: center; 
}

button{
    background-color: transparent;
    border: 1px solid #562551;
    padding: 5px 20px;   
}